


  <!-- <label>Enter English:</label> -->
<!-- <input type="text" class="input" (input)="text = $event.target.value"> -->
  <!-- <input type="text" #input class="input" (input)="onInput($event)">
  <button (click)="submit()">submit</button>  


<p>{{ translateText }}</p> -->



<h1>Password generator</h1> 

<div>
  <label>Enter length</label>
  <input >
</div>

<div>
  <label>Use Letters</label>
  <input type="checkbox">
</div>

<div>
  <label>Use Numbers</label>
  <input type="checkbox">
</div>

<div>
  <label>Use Symbols</label>
  <input type="checkbox">
</div>

<div>
  <button (click)="onButtonClick()">Generate!</button> <!-- event binding -->
</div>


<div>
  <label>Your password</label>
  <input [value]="password"> <!-- property binding -->
  <input [value]="getPassword()"> <!-- another way of property binding -->
  <input value="{{ password }}interpolation"> <!-- interpolation binding -->
</div>

{{ getName() }} <!-- interpolation binding -->