
<h1>Password generator</h1> 

<div>
  <label>Enter length</label>
  <input (input)="onInput($event?.target)">
  <!-- <input (input)="onInput($event)" > -->
</div>

<div>
  <label>Use Letters</label>
  <input (change)="onChangeLetters()" type="checkbox">
</div>

<div>
  <label>Use Numbers</label>
  <input (change)="onChangeNumbers()" type="checkbox">
</div>

<div>
  <label>Use Symbols</label>
  <input (change)="onChangeSymbols()" type="checkbox">
</div>

<div>
  <button 
  [disabled]="!(length && (this.includeSymbols || this.includeNumbers || this.includeLetters))" 
  (click)="onButtonClick()"
  >Generate!</button> 
</div>


<div>
  <label>Your password</label>
  <input [value]="password"> 
  
</div>
